{% extends 'base.html' %}
{% block content %}
  <head>
    <title>Family tree</title>
    <script src="https://cdn.jsdelivr.net/npm/vis-network/standalone/umd/vis-network.min.js"></script>
    <style type="text/css">
      #container {
        display: flex;
      }
      #network-container {
        width: 80%;
        height: 65vh;
      }
      #infoPanel {
        width: 20%;
        padding: 10px;
      }
      #mynetwork {
        height: 100%;
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0; overflow: hidden;">
    <div id="container">
      <div id="network-container">
        <h2>Double-click a person to display informations about them</h2>
        <h2>Hold CTRL while clicking to select multiple nodes </h2>
        <div id="mynetwork"></div>
      </div>
      <div id="infoPanel">
        <h2>Chosen queries</h2>
        <ul>
          <li><a href="/males">All Males</a></li>
          <li><a href="/females">All Females</a></li>
          <li><a href="/dead">All Deceased</a></li>
          <li><a href="/alive">All Living</a></li>
          <li><a href="/marriages">All Marriages</a></li>
        </ul>

        <button onclick="addPerson()">Add Person</button>
        <button onclick="createRelation()">Create Relation</button>
      </div>      
    </div>

    <script type="text/javascript">
      var nodes = {{ nodes | tojson }};
      var edges = {{ edges | tojson }};

      var edgesWithLabels = edges.map(function(edge) {
        return { from: edge.from, to: edge.to, label: edge.relation };
      });

      var container = document.getElementById('mynetwork');

      var data = {
        nodes: nodes,
        edges: edgesWithLabels
      };

      var options = {
        edges: {
          arrows: {
            to: {
              enabled: true,
              scaleFactor: 1,
            }
          }
        },
        interaction: {
            multiselect: true,
        }
      };

      var network = new vis.Network(container, data, options);

      network.on('doubleClick', function (params) {
        if (!params.event.ctrlKey) {
            var nodeId = params.nodes[0];
            if(!nodeId)
            {
              return
            }
            window.location.href = "/person/" + nodeId;
        }
      });

      function addPerson() {
        window.location.href = "/people/add";
      }

      function createRelation() {
        var selectedNodes = network.getSelectedNodes();
        if (selectedNodes.length === 2) {
            var node1 = selectedNodes[0];
            var node2 = selectedNodes[1];
            window.location.href = "/create_relationship/" + node1 + "/" + node2;
        } else {
            alert('Please select exactly two nodes to create a relation.');
        }
      }
    </script>
  </body>
  </html>
{% endblock %}